.THIS .fileira {
    display: flex;
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.THIS .nomeFileiras{

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: red;
}

.THIS span{

    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.THIS #tela{


    width: 100px;
    height: 20px;
    text-align: center;
    background-color: #000;
    color: #770a0a;
}


.THIS .assentoOcupado{

    width: 30px; /* Largura das divs */
    height: 30px; /* Altura das divs */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; /* Borda das divs */
    margin: 2px; /* Espaçamento entre as divs */
    text-align: center; /* Centraliza o texto verticalmente */
    line-height: 45px; /* Centraliza o texto horizontalmente */
    cursor: pointer; /* Cursor do mouse ao passar sobre as divs */
    background-size: cover;
    background-color: rgb(43, 39, 39);
    background-position: center;

}

.THIS .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.THIS .custom-box {
    width: 30px; /* Largura das divs */
    height: 30px; /* Altura das divs */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; /* Borda das divs */
    margin: 2px; /* Espaçamento entre as divs */
    text-align: center; /* Centraliza o texto verticalmente */
    line-height: 45px; /* Centraliza o texto horizontalmente */
    cursor: pointer; /* Cursor do mouse ao passar sobre as divs */
    background-image: url('/resource/seat');
    background-position: center;
    background-size: 25px;
}

.THIS h1{

font-size: 25px;
font-weight: bold;
}


.THIS .custom-box-inner{

    opacity: 0;
    color:#fff;

}

.THIS .custom-box-inner:hover{

    opacity: 1;

}


.THIS .custom-box:hover{

    background-image: url('');
    background-color: blue;


}


.THIS p{

    position: absolute;
    left: 10px;
}